/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f7f6f3, #e2e4eb);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    margin-left: 250px; /* Same as the navbar width */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust width to account for the navbar */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.alert {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}